<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace对应接口名 -->
  <mapper namespace="shop.mapper.CellphoneUserMapper">
  	<insert id="create" useGeneratedKeys="true" keyColumn="u_id" keyProperty="id">
  		insert into cellphone_user (u_id,u_username,u_gender,u_password,lastdate) 
  		values(cellphone_user_id_seq.nextval,#{username},#{gender},#{password},sysdate)
  	</insert>
  	
  	<select id="findOneByUsername" resultType="shop.model.CellphoneUser">
  		select u_username username, u_password password
  		from cellphone_user 
  		where u_username = #{username}
  	</select>
  	<select id="usernameExists" resultType="Integer">
  		select count(u_username) from cellphone_user where u_username=#{username}
  	</select>
  	
  	<update id="updatelastdate">
		update cellphone_user set lastdate=sysdate where u_username=#{username} 
  	</update>
  	
  </mapper>